<div class="well text-center">
  <h1>Bem-vindo!</h1>
  <p><%= link_to "Faça seu login", new_session_path(:user), :class => 'btn btn-primary' %></p>
  <p>ou</p>
  <p><%= link_to "Registre-se", new_registration_path(:user), :class => 'btn btn-primary' %></p>
</div>
